@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello there!</h1>
    <p>This is a To-Do app I created, in order to learn how to build a Web app with ASP.NET Core.</p>
</div>
