@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />

<p>The first rule of To-Do App is: you do not talk about To-Do App.</p>
<p>The second rule of To-Do App is: you DO NOT talk about To-Do App!</p>
